<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
      }
      th {
        background-color: #dddddd;
      }
      table {
        margin: auto;
      }
      img {
        position: fixed;
        bottom: 0;
        right: 0;
      }
      body {
        margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    <p>Team,</p>
    <p>Current Windows Date Time</p>
    <h1>Windows</h1>
    <table>
      <tr>
        <th>Server Name</th>
        <th>Date Time</th>
      </tr>
      {% for host in ansible_play_hosts %}
      <tr>
      <td>{{ host }} </td>
      <td>{{ hostvars[host].ver.stdout }}</td>
      </tr>
      {% endfor %}
    </table>
    <p>Please review and take appropriate action.</p>
  </body>
</html>
