ACTION=="add|change", KERNEL=="{{ ssd_device_name }}", ATTR{queue/rotational}="{{ ssd_queue_rotational }}", ATTR{queue/scheduler}="{{ ssd_queue_scheduler }}", ATTR{queue/nr_requests}="{{ ssd_nr_requests }}"