global_defs {
  script_user root
  enable_script_security
}

vrrp_script haproxy_check {
  script "/usr/bin/pgrep haproxy"
  interval 2
  weight 2
}

vrrp_instance {{ keepalived_config['vrrp_instance_name'] }} {
  interface {{ vrrp_interface }}
  state {{ vrrp_instance_state }}
  virtual_router_id {{ vrrp_instance_virtual_router_id }}
  priority {{ vrrp_instance_priority }}

  authentication {
    auth_type PASS
    auth_pass {{ keepalived_config['authentication_password'] }}
  }

  virtual_ipaddress {
    {{ loadbalancer_apiserver['address'] }} dev {{ vrrp_interface }}
  }

  track_script {
    haproxy_check
  }
}

